body {
  width: 33%;
}
#btns > div {
  width: 25%;
  height: 36px;
  margin: 0;
  font-size: 18px;
  float: left;
  text-align: center;
}
#res {
  background-color: lightgray;
  border: 2px solid black;
  height: 48px;
  font-size: 20px;
}
#btn0,
#btn1 {
  background-color: lightgreen;
  color: brown;
}
#btnCrl,
#btnEqu {
  background-color: darkgreen;
  color: white;
}
#btnSum,
#btnSub,
#btnMul,
#btnDiv {
  background-color: black;
  color: red;
}
